<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false"
      internalLogFile="c:\Data\logs\Email.svc\nlog.log" internalLogLevel="Warn">

  <!-- Load the ASP.NET Core plugin -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <targets async="true">

    <target name="consoleTarget" xsi:type="ColoredConsole"
            layout="${date:format=HH\:mm\:ss} | ${message} | ${exception:format=ToString}" />
    <!-- csv to anaylse this with logparser -->
    <target xsi:type="File" name="fileTarget" fileName="C:/Data/logs/Email.svc/logfile_${date:format=yyyy-MM-dd}.log">
      <layout xsi:type="CsvLayout">
        <!-- CSV Options -->
        <quoting>Auto</quoting>
        <quoteChar>"</quoteChar>
        <withHeader>true</withHeader>
        <delimiter>Comma</delimiter>
        <column layout="${date:format=yyyy-MM-dd HH\:mm\:ss\:fff}" name="timestamp" />
        <column layout="${processname}" name="processname" />
        <column layout="${logger}" name="logger" />
        <column layout="${level}" name="level" />
        <column layout="${message}" name="message" />
        <column layout="${exception:format=ToString}" name="exception" />
        <!-- repeated -->
      </layout>
    </target>
    <target xsi:type="Chainsaw" name="log2console" address="udp://127.0.0.1:7071" />
  </targets>
  <rules>
    <!-- default logger -->
    <logger name="*" minlevel="Info" writeTo="consoleTarget" />
    <logger name="*" minlevel="Info" writeTo="fileTarget" />
    <logger name="*" minlevel="Debug" writeTo="log2console" />
  </rules>
</nlog>